@media (max-width:640px) {
    
.slick-list{
    max-height: 14rem ;
}
}

@media (min-width:1024px) {
       
.slick-list{
    max-height: 28rem;
} 
}
.slick-list img{
    border-radius: 30px;
   padding: 15px 40px;
  
}
